<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
              <h2>{{>header}} </h2>

             <h2> title is:{{title}} </h2>
             <h2> country name:{{country}} </h2>
            <h2>  the longtitude is: {{longtitude}} </h2>
            <h2> the latitude is:{{latitude}} </h2>
             <h2> the current weather is :{{currentweather}} </h2>
            <h2>tempearture is: {{tempearture}} </h2>




             
      </body>
</html>